@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  background-color: #F8FAFD;
}

.swiper-slide {
  position: relative;
  z-index: 1;
  min-width: 176px;
}

.clip {
  clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
}

.swiper-scrollbar-drag {
  background-color: #2C8EFF !important;
}

.swiper-scrollbar {
  bottom: 0px !important;
}